:root {
    --v-anchor-base: #215F8B;
    --v-primary-base: #319fbe;
    --v-primary-lighten4: #eaf6f9;
    --v-primary-lighten3: #d5ebf1;
    --v-primary-lighten2: #b3dde3;
    --v-primary-lighten1: #76c4d6;
    --v-primary-darken3: #0c4751;
    --v-primary-darken2: #1b6c82;
    --v-primary-darken1: #2889a3;
    --v-secondary-base: #82368c;
    --v-secondary-darken3: #380f3f;
    --v-secondary-lighten4: #f9f7f9;
    --v-secondary-lighten3: #f2eaf4;
    --v-secondary-lighten2: #e5d7e7;
    --v-secondary-lighten1: #ac7cb5;
    --v-secondary-darken2: #591a5f;
    --v-secondary-darken1: #6e2876;
    --v-error-base: #bb0e3d;
    --v-error-darken3: #44061a;
    --v-error-lighten4: #fcf5f7;
    --v-error-lighten3: #f4e6e9;
    --v-error-lighten2: #f1d1d9;
    --v-error-lighten1: #dd819a;
    --v-error-darken2: #7a0522;
    --v-error-darken1: #9b0a30;
    --v-info-base: #2a72a5;
    --v-info-darken3: #0c3344;
    --v-info-lighten4: #f7fbfc;
    --v-info-lighten3: #eaf5f9;
    --v-info-lighten2: #b4cbdc;
    --v-info-lighten1: #6ba2c1;
    --v-info-darken2: #174c70;
    --v-info-darken1: #215f8b;
    --v-success-base: #2dc799;
    --v-success-lighten4: #eff9f5;
    --v-success-lighten3: #d9f1e9;
    --v-success-lighten2: #b8e2d5;
    --v-success-lighten1: #82dbba;
    --v-success-darken1: #2ba37f;
    --v-success-darken2: #287f65;
    --v-success-darken3: #114230;
    --v-warning-base: #ffbf17;
    --v-warning-darken3: #5b4107;
    --v-warning-lighten4: #fcfcf5;
    --v-warning-lighten3: #fbfbec;
    --v-warning-lighten2: #fbf5bb;
    --v-warning-lighten1: #ffd788;
    --v-warning-darken2: #95710e;
    --v-warning-darken1: #ca9812;
    --v-aqua-base: #319fbe;
    --v-aqua-lighten4: #eaf6f9;
    --v-aqua-lighten3: #d5ebf1;
    --v-aqua-lighten2: #b3dde3;
    --v-aqua-lighten1: #76c4d6;
    --v-aqua-darken3: #0c4751;
    --v-aqua-darken2: #1b6c82;
    --v-aqua-darken1: #2889a3;
    --v-green-base: #2dc799;
    --v-green-lighten4: #eff9f5;
    --v-green-lighten3: #d9f1e9;
    --v-green-lighten2: #b8e2d5;
    --v-green-lighten1: #82dbba;
    --v-green-darken1: #2ba37f;
    --v-green-darken2: #287f65;
    --v-green-darken3: #114230;
    --v-blue-base: #2a72a5;
    --v-blue-darken3: #0c3344;
    --v-blue-lighten4: #f7fbfc;
    --v-blue-lighten3: #eaf5f9;
    --v-blue-lighten2: #b4cbdc;
    --v-blue-lighten1: #6ba2c1;
    --v-blue-darken2: #174c70;
    --v-blue-darken1: #215f8b;
    --v-purple-base: #82368c;
    --v-purple-darken3: #380f3f;
    --v-purple-lighten4: #f9f7f9;
    --v-purple-lighten3: #f2eaf4;
    --v-purple-lighten2: #e5d7e7;
    --v-purple-lighten1: #ac7cb5;
    --v-purple-darken2: #591a5f;
    --v-purple-darken1: #6e2876;
    --v-red-base: #bb0e3d;
    --v-red-darken3: #44061a;
    --v-red-lighten4: #fcf5f7;
    --v-red-lighten3: #f4e6e9;
    --v-red-lighten2: #f1d1d9;
    --v-red-lighten1: #dd819a;
    --v-red-darken2: #7a0522;
    --v-red-darken1: #9b0a30;
    --v-yellow-base: #ffbf17;
    --v-yellow-darken3: #5b4107;
    --v-yellow-lighten4: #fcfcf5;
    --v-yellow-lighten3: #fbfbec;
    --v-yellow-lighten2: #fbf5bb;
    --v-yellow-lighten1: #ffd788;
    --v-yellow-darken2: #95710e;
    --v-yellow-darken1: #ca9812;
    --v-orange-base: #fbbb7a;
    --v-orange-darken3: #723206;
    --v-orange-lighten4: #fffcf8;
    --v-orange-lighten3: #fcf2e6;
    --v-orange-lighten2: #fce9d4;
    --v-orange-lighten1: #fbc995;
    --v-orange-darken2: #c03300;
    --v-orange-darken1: #de773d;
    --v-gray-base: #9e9e9e;
    --v-gray-lighten5: #fafafa;
    --v-gray-lighten4: #f5f5f5;
    --v-gray-lighten3: #eeeeee;
    --v-gray-lighten2: #e0e0e0;
    --v-gray-lighten1: #bdbdbd;
    --v-gray-darken1: #757575;
    --v-gray-darken2: #616161;
    --v-gray-darken3: #424242;
    --v-gray-darken4: #212121;
    --v-grey-base: #9e9e9e;
    --v-grey-lighten5: #fafafa;
    --v-grey-lighten4: #f5f5f5;
    --v-grey-lighten3: #eeeeee;
    --v-grey-lighten2: #e0e0e0;
    --v-grey-lighten1: #bdbdbd;
    --v-grey-darken1: #757575;
    --v-grey-darken2: #616161;
    --v-grey-darken3: #424242;
    --v-grey-darken4: #212121;
    --v-dark-base: #404250;
    --v-dark-lighten5: #bfc1d2;
    --v-dark-lighten4: #a4a6b6;
    --v-dark-lighten3: #898b9b;
    --v-dark-lighten2: #707281;
    --v-dark-lighten1: #575968;
    --v-dark-darken1: #2a2c39;
    --v-dark-darken2: #151724;
    --v-dark-darken3: #00000e;
    --v-dark-darken4: #000000;
    --v-light-base: #f6f9fa;
    --v-light-lighten5: #ffffff;
    --v-light-lighten4: #ffffff;
    --v-light-lighten3: #ffffff;
    --v-light-lighten2: #ffffff;
    --v-light-lighten1: #ffffff;
    --v-light-darken1: #dadcdd;
    --v-light-darken2: #bec1c2;
    --v-light-darken3: #a3a5a6;
    --v-light-darken4: #888b8c;
}